<!--Habilidades-->
<div class="px-5 py-3">
    <div class="cuerpo-fondo div-row row mt-3 pb-5 border border-secondary justify-content-around">
        <h4 class="text-warning text-uppercase text-center mt-4 mb-4">Habilidades</h4>
        <div class="col-sm-6 text-white">
            <h6 class="fw-bold">HTML</h6>
            <div class="progress">
                <div class="progress-bar bg-warning text-dark fw-bold" role="progressbar" style="width:70%;"
                    aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
            <h6 class="fw-bold mt-4">CSS</h6>
            <div class="progress">
                <div class="progress-bar bg-warning text-dark fw-bold" role="progressbar" style="width:65%;"
                    aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
            </div>
            <h6 class="fw-bold mt-4">JavaScript</h6>
            <div class="progress mb-4">
                <div class="progress-bar bg-warning text-dark fw-bold" role="progressbar" style="width:50%;"
                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
        </div>
        <div class="col-sm-6 text-white">
            <h6 class="fw-bold">Java</h6>
            <div class="progress">
                <div class="progress-bar bg-warning text-dark fw-bold" role="progressbar" style="width:50%;"
                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
            <h6 class="fw-bold mt-4">SQL</h6>
            <div class="progress">
                <div class="progress-bar bg-warning text-dark fw-bold" role="progressbar" style="width:65%;"
                    aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
            </div>
            <h6 class="fw-bold mt-4">Python</h6>
            <div class="progress">
                <div class="progress-bar bg-warning text-dark fw-bold" role="progressbar" style="width:20%;"
                    aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20%</div>
            </div>
        </div>
    </div>
</div>
<!--Habilidades-->

<!--Soft skills-->
<div class="px-5 py-3">
    <div class="cuerpo-fondo div-row row mt-3 pb-5 border border-secondary text-white text-center">

        <div class="col-sm-4 pb-4 pt-5">
            <img src="../../../assets/imagen/diversity_3_FILL0_wght400_GRAD0_opsz48.png" alt=""
                class="bg-white rounded-circle p-2 my-3">
            <h5>Trabajo en equipo</h5>
        </div>
        <div class="col-sm-4 pb-4 pt-5">
            <img src="../../../assets/imagen/communication_FILL0_wght400_GRAD0_opsz48.png" alt=""
                class="bg-white rounded-circle p-2 my-3">
            <h5>Comunicación acertiva</h5>
        </div>
        <div class="col-sm-4 pt-5">
            <img src="../../../assets/imagen/psychology_alt_FILL0_wght400_GRAD0_opsz48.png" alt=""
                class="bg-white rounded-circle p-2 my-3">
            <h5 class="">Pensamiento crítico</h5>
        </div>
    </div>
</div>
<!--Soft skills-->