<br>
<br>
<br>
<!--Habilidades-->
<div class="container px-4 pt-3 pb-1">
    <div class="text-center">
        <h2 class="sub text-dark text-uppercase mx-2 pt-5 border-top border-secondary">Habilidades</h2>
        <button *ngIf="isLogged" type="button" class="btn btn-success text-white px-5" routerLink="/nuevaSkill">Nueva
            habilidad</button>
    </div>
    <div class="row mt-4 px-4 box">
        <div *ngFor="let Skills of skills" class="col-md-6 text-white pt-4">
            <h4 class="text-uppercase">{{Skills.nombreSkill}}</h4>
            <div class="progress mb-3">
                <div class="progress-bar bg-warning text-dark fw-bold" role="progressbar"
                    [style.width.%]="Skills.porcentaje" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">
                    {{Skills.porcentaje}}%</div>
            </div>
            <div *ngIf="isLogged" class="mb-3">
                <button class="btn btn-outline-warning mt-2 me-1" routerLink="/editSkill/{{Skills.id}}">
                    <i class="bi bi-pencil-square text-white fs-6" id="edit-icon">Editar</i>
                </button><button class="btn btn-outline-danger mt-2" (click)="delete(Skills.id)">
                    <i class="bi bi-trash text-white fs-6" id="delete-icon">Eliminar</i>
                </button>
            </div>
        </div>
    </div>
</div>


<!--Habilidades-->

<!--Soft skills-->
<div class="container px-4 pt-3 pb-1">
    <div class="row mt-4 px-5 box text-center text-white">
        <div class="col-sm-4 py-4">
            <img src="../../../assets/imagen/diversity_3_FILL0_wght400_GRAD0_opsz48.png" alt=""
                class="bg-white rounded-circle p-2 my-3">
            <h5>Trabajo en equipo</h5>
        </div>
        <div class="col-sm-4 py-4">
            <img src="../../../assets/imagen/communication_FILL0_wght400_GRAD0_opsz48.png" alt=""
                class="bg-white rounded-circle p-2 my-3">
            <h5>Comunicación acertiva</h5>
        </div>
        <div class="col-sm-4 py-4">
            <img src="../../../assets/imagen/psychology_alt_FILL0_wght400_GRAD0_opsz48.png" alt=""
                class="bg-white rounded-circle p-2 my-3">
            <h5 class="mb-5">Pensamiento crítico</h5>
        </div>
    </div>
</div>

<!--Soft skills-->