<div class="container mt-5 p-5">
    <div class="row px-5 mt-5">
       <div class="border border-warning p-4">
        <form (ngSubmit)="onCreate()" novalidate #f='ngForm'>
            <div class="form-group text-white mb-3">
                <label for="nombreE">Habilidad</label>
                <input type="text" class="form-control" id="nombreSkill" name="nombreSkill" [(ngModel)]="nombreSkill" required>
            </div>
            <div class="form-group text-white mb-3">
                <label for="descripcionE">Porcentaje</label>
                <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required>
            </div>
            <button class="btn btn-success mt-4">
                Agregar Habilidad
            </button>
        </form>
       </div>
    </div>
</div>
