<br>
<br>
<br>
<div class="text-center">
    <h2 class="sub text-warning text-uppercase border-top border-secondary mt-5 py-2 pt-3">Educacion</h2>
    <button *ngIf="isLogged" type="button" class="btn btn-outline-success text-white px-5"
            routerLink="/nuevaedu">Nueva educación</button>
</div>
<div class="px-5 pt-3 pb-1 mx-5" id="educacion">
    <div class="row mt-4 px-5 box">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h4 class="text-uppercase fw-bold text-white mt-3">{{Educacion.nombreEdu}}</h4>
                        <p class="text-white-50">{{Educacion.fechaEdu}}</p>
                        <p class="text-white">{{Educacion.descripcionEdu}}</p>
                        <div *ngIf="isLogged">
                            <button class="btn btn-outline-primary me-2" routerLink="/editedu/{{Educacion.id}}">
                                <i class="bi bi-pencil-square text-white fs-6" id="edit-icon">Editar</i>
                            </button>
                            <button class="btn btn-outline-danger" (click)="delete(Educacion.id)">
                                <i class="bi bi-trash text-white fs-6" id="delete-icon">Eliminar</i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--<div class="cuerpo-fondo px-5 py-3 sobre-mi" id="experiencia">
    <div class="div-row row mt-4 px-5 border border-secondary">
        <h4 class="text-warning text-uppercase text-center mt-4 mb-4">Estudios</h4>
        <div class="col-sm-8 my-4"> 
            <ul class="list text-white">
                <li class="list-item">
                    <h6 class="text-uppercase fw-bold">Lic. en Antropología</h6>
                    <h6 class="text-uppercase text-white-50">Univerdad Nacional de Rosario <span class="text-lowercase">(en curso-finalización 2023)</span></h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam totam molestias excepturi iusto maiores maxime exercitationem error eos? Distinctio aliquid quisquam, maxime esse beatae sunt corpori veniam odio molestiae assumenda?</p>
                </li>
                <li class="list-item">
                    <h6 class="text-uppercase fw-bold">Bachillerato universitario con mención en Antropología</h6>
                    <h6 class="text-uppercase text-white-50">Universidad nacional de rosario</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam totam molestias excepturi iusto maiores maxime exercitationem error eos? Distinctio aliquid quisquam, maxime esse beatae sunt corpori veniam odio molestiae assumenda?</p>
                </li>
                <li class="list-item">
                    <h6 class="text-uppercase fw-bold">Otros estudios</h6>
                    <h6 class="text-uppercase text-white">Diseño orientado al usuario (UX UI)</h6>
                    <h6 class="text-white-50">Icaro, Universidad de Córdoba / 2022</h6>
                    <h6 class="text-uppercase text-white">Full Stack Web Developer</h6>
                    <h6 class="text-white-50">Argentina Programa / 2022</h6>
                    <h6 class="text-uppercase text-white">Machine learning con python: una introducción práctica</h6>
                    <h6 class="text-white-50">Plataforma edX - IBM / 2021</h6>
                    <h6 class="text-uppercase text-white">Introducción a base de datos y SQL</h6>
                    <h6 class="text-white-50">Educación IT / 2020</h6>              
                </li>            
            </ul>            
        </div>
    
        <div class="col-sm-4 my-4"> 
            
        </div>
    </div>
</div>-->
<!--Estudios-->