<header>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg bg-dark fixed-top">
    <div class="container-fluid">
      <img src="../../../assets/imagen/logoArg.png" alt="" width="100" height="70"
        class="d-inline-block">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav mx-auto">
          <li>
            <a class="nav-link mx-2" routerLink="/home">Inicio</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLink="/sobre-mi">SobreMi</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLink="/experiencia">Experiencia</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLink="/estudios">Educación</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLink="/habilidades">Habilidades</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLink="/proyectos">Proyectos</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLink="/contacto">Contacto</a>
          </li>
        </ul>
        <div class="d-flex"><button *ngIf="isLogged" type="button" class="btn btn-outline-warning me-2" (click)="onClick()">Cerrar
          Sesión</button>
        <button *ngIf="!isLogged" type="button" class="btn btn-outline-warning me-2" (click)="onLogin()"><i
            class="fa-solid fa-user-lock"></i>Login</button></div>         
      </div>
    </div>
  </nav>
  <!--Nav-bar-->