<div class="container-fluid">
    <div class="m-0 vh-100 row justify-content-center align-items-center">
       <div class="formulario p-3 pt-4">
        <form (ngSubmit)="onCreate()" novalidate #f='ngForm'>
            <div class="form-group text-white mb-3">
                <label for="nombreP">Titulo Proyecto</label>
                <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="nombreP" required>
            </div>
            <div class="form-group text-white mb-3">
                <label for="descripcionP">Descripción</label>
                <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="descripcionP" required>
            </div>
            <div class="form-group text-white mb-3">
                <label for="imgP">URL imagen</label>
                <input type="text" class="form-control" id="imgP" name="imgP" [(ngModel)]="imgP" required>
            </div>
            <div class="form-group text-white mb-3">
                <label for="urlP">Link</label>
                <input type="text" class="form-control" id="urlP" name="urlP" [(ngModel)]="urlP" required>
            </div>
            <button class="btn btn-success mt-4">
                Agregar proyecto
            </button>
        </form>
       </div>
    </div>
</div>
