<br>
<br>
<br>
<!--Proyectos-->
<div class="text-center">
    <h2 class="sub text-warning text-uppercase pt-5 py-2 border-top border-secondary">Proyectos</h2>
    <button *ngIf="isLogged" type="button"
            class="btn btn-success text-white px-5" routerLink="/nuevoProyecto">Nuevo proyecto</button>
</div>
<div class="px-5 pt-3 pb-1 mx-5">
    <div class="row mt-4 px-5 box text-center pt-4"> 
        <div *ngFor="let Proyectos of proyectos" class="col-md-3 pb-3">
            <div class="card-body text-white border border-white p-1 bg-dark">
                <img class="card-img-top bg-white card-proyecto" [src]="Proyectos.imgP"  alt="Card image">
                <h5 class="card-title mt-3 text-capitalize">{{Proyectos.nombreP}}</h5>
                <p class="card-text">{{Proyectos.descripcionP}}</p>
                <a [href]="Proyectos.urlP" class="btn btn-outline-light mb-2">Ver más</a>  
            </div>
            <div *ngIf="isLogged" class="botones mb-3">
                <button class="btn btn-outline-warning mt-2 me-1" routerLink="/editProyecto/{{Proyectos.id}}">
                    <i class="bi bi-pencil-square text-white fs-6" id="edit-icon">Editar</i>
                </button><button class="btn btn-outline-danger mt-2" (click)="delete(Proyectos.id)">
                    <i class="bi bi-trash text-white fs-6" id="delete-icon">Eliminar</i>
                </button>
            </div>      
        </div>
    </div>
</div>    
<!--Proyectos-->   
   
