<!--Proyectos-->
<div class="px-5 py-3">
    <div class="cuerpo-fondo div-row row mt-3 pb-5 border border-secondary text-center">
        <h4 class="text-warning text-uppercase text-center mt-4 mb-4">Proyectos<button *ngIf="isLogged" type="button"
            class="btn btn-outline-success text-white float-end me-4" routerLink="/nuevoProyecto">Nuevo proyecto</button></h4>
        <div *ngFor="let Proyectos of proyectos" class="col-sm-3 pb-3">
            <div class="card-body text-white border border-white p-1 bg-dark">
                <img class="card-img-top bg-white" [src]="Proyectos.imgP" width="90%" height="150px" alt="Card image">
                <h5 class="card-title mt-3 text-capitalize">{{Proyectos.nombreP}}</h5>
                <p class="card-text">{{Proyectos.descripcionP}}</p>
                <a [href]="Proyectos.urlP" class="btn btn-outline-warning">Ver más</a>
            </div>
            <div *ngIf="isLogged" class="mb-3">
                <button class="btn btn-outline-primary mt-2 me-1" routerLink="/editProyecto/{{Proyectos.id}}">
                    <i class="bi bi-pencil-square text-white fs-6" id="edit-icon">Editar</i>
                </button><button class="btn btn-outline-danger mt-2" (click)="delete(Proyectos.id)">
                    <i class="bi bi-trash text-white fs-6" id="delete-icon">Eliminar</i>
                </button>
            </div>          
        </div>
    </div>
</div>    
<!--Proyectos-->   
   
