.sub{
    letter-spacing: 10px;
}

.card-proyecto{
    background-size: cover;
    max-width: 200px;
    max-height: 200px;
}

.card-body{
    max-width: 200px;
    max-height: 350px;
}

.botones{
    max-width: 200px;
    max-height: 350px;
}