
<header>
<!--Navbar-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand text-warning" href=""><img src="../../../assets/imagen/logoArg.png" alt="" width="100" height="70" class="d-inline-block align-text-center">#YoProgramo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav ms-auto text-center">
          <li class="nav-item">
            <a class="nav-link" href="#inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobre-mi">Sobre mí</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacto">Contacto</a>
          </li>
        </ul>
        <span class="float-end ms-5">
          <button *ngIf="isLogged" type="button" class="btn btn-outline-secondary" (click)="onClick()">Cerrar Sesión</button>
          <button *ngIf="!isLogged" type="button" class="btn btn-outline-secondary"(click)="onLogin()"><i class="fa-solid fa-user-lock"></i>Login</button>
        </span>
      </div>
    </div>
</nav>
<!--Nav-bar-->

<!--Banner-->  
    <div class="row justify-content-start align-items-center text-white mt-5" id="inicio" style="height:500px">
        <div class="col">
            <div class="banner text-center">
                <p class="text-uppercase text-white">bienvenidos</p>
                <h1>Soy <span class="text-warning">{{persona.nombre}} {{persona.apellido}}</span>, {{persona.puesto}}</h1>
                
                <a class="boton-contacto text-white btn btn-outline-warning border-2 mt-4" href="#contacto">Contacto</a>
            </div>
        </div>
    </div>
<!--Banner-->
</header>
