header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(9, 9, 9, 0.453), rgba(237, 236, 248, 0.19)), url(../../../assets/imagen/vapor.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}


.banner p {
    letter-spacing: 5px;
    
}

.banner h2 {
    font-size:40px;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 0 0 10px rgb(142, 7, 147), 0 0 10px rgb(142, 7, 147), 0 0 10px rgb(142, 7, 147);
    
}

.banner h1{
    letter-spacing: 10px;
    text-shadow: 0 0 10px rgb(219, 212, 7), 0 0 10px rgb(219, 212, 7);
}





