<section class="vh-100 bg-secondary">
  <div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-3 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Crea una cuenta</h2>
              <p class="text-white-50 mb-3">Ingresa tu usuario y contraseña</p>
              <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                <div class="form-outline form-white mb-4">
                  <input type="nombre" id="typeNombreX" class="form-control form-control-lg" formControlName="nombre" />
                  <label class="form-label" for="typeNombreX">Nombre</label>
                </div>

                <div class="form-outline form-white mb-4">
                  <input type="email" id="typeEmailX" class="form-control form-control-lg" formControlName="email" />
                  <label class="form-label" for="typeEmailX">Email</label>
                </div>

                <div class="form-outline form-white mb-4">
                  <input type="password" id="typePasswordX" class="form-control form-control-lg" formControlName="password"/>
                  <label class="form-label" for="typePasswordX">Contraseña</label>
                </div>

                <button class="btn btn-outline-light btn-lg px-5" type="submit">Registrarme</button>
                <p class="mt-4">Ya tienes una cuenta? <a class="text-white" [routerLink]="['/login']">Login</a></p>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>