
    <div class="container-fluid">
        <div class="m-0 vh-100 row justify-content-center align-items-center">
            <div class="formulario p-3 pt-4">
                <form (ngSubmit)="onUpdate()" novalidate #f='ngForm'>
                    <div class="form-group text-white mb-3">
                        <label for="nombreE">Puesto</label>
                        <input type="text" class="form-control" id="puesto" name="puesto"
                            [(ngModel)]="pers.puesto" required>
                    </div>
                    <div class="form-group text-white mb-3">
                        <label for="descripcionE">Descripcion</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion"
                            [(ngModel)]="pers.descripcionPuesto" required>
                    </div>
                    <div class="form-group text-white mb-3">
                        <label for="descripcionE">Imagen</label>
                        <input type="text" class="form-control" id="img" name="img"
                            [(ngModel)]="pers.imgPerfil" required>
                    </div>
                    <button class="btn btn-success mt-4">
                        Actualizar perfil
                    </button>
                </form>
            </div>
        </div>
    </div>
