<div class="container-fluid" *ngIf="explab">
    <div class="m-0 vh-100 row justify-content-center align-items-center">
       <div class="formulario p-3 pt-4">
        <form (ngSubmit)="onUpdate()" novalidate #f='ngForm'>
            <div class="form-group text-white mb-3">
                <label for="nombreE">Nombre del puesto</label>
                <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="explab.nombreE" required>
            </div>
            <div class="form-group text-white mb-3">
                <label for="nombreEmpresa">Nombre de la empresa</label>
                <input type="text" class="form-control" id="nombreEmpresa" name="nombreEmpresa" [(ngModel)]="explab.nombreEmpresa" required>
            </div>
            <div class="form-group text-white mb-3">
                <label for="nombreE">Fecha experiencia</label>
                <input type="text" class="form-control" id="fechaE" name="fechaE" [(ngModel)]="explab.fechaE" required>
            </div>
            <div class="form-group text-white">
                <label for="descripcionE">Descripcion experiencia</label>
                <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="explab.descripcionE" required>
            </div>
            <button class="btn btn-primary mt-4">
                Actualizar
            </button>
        </form>
       </div>
    </div>
</div>

