<!--Experiencia-->
<br>
<br>
<br>
<div class="text-center">
    <h2 class="sub text-warning text-uppercase mt-5 pt-3 border-top border-secondary">Experiencia</h2>
    <button *ngIf="isLogged" type="button" class="btn btn-outline-success text-white px-5" (click)="onClick()">Nueva
        experiencia</button>
</div>
<div class="px-5 pt-3 pb-1 mx-5" id="experiencia">
    <div class="row mt-4 px-5 bg-dark">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <h4 class="text-uppercase fw-bold text-white mt-3">{{Experiencia.nombreE}}</h4>
                        <p class="text-white">{{Experiencia.descripcionE}}</p>
                        <div *ngIf="isLogged">
                            <button class="btn btn-outline-primary me-2" routerLink="/editexp/{{Experiencia.id}}">
                                <i class="bi bi-pencil-square text-white fs-6" id="edit-icon">Editar</i>
                            </button>
                            <button class="btn btn-outline-danger" (click)="delete(Experiencia.id)">
                                <i class="bi bi-trash text-white fs-6" id="delete-icon">Eliminar</i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--Experiencia-->