.sobre-mi h3 span{
    letter-spacing: 5px;
}


.imagen-perfil {
    filter: grayscale(10%);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.6);
}


.sub{
    letter-spacing: 10px;
}

@media (max-width: 240px) {
    .mifuente {
        font-size: 10px;
    }
}

@media (max-width: 240px) {
    .puesto span {
        font-size: 15px;
    }
}


