.sobre-mi p span{
    letter-spacing: 5px;
}


.imagen-perfil {
    filter: grayscale(60%);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.6);
}

h5{
    letter-spacing: 5px;
}

.sub{
    letter-spacing: 10px;
}


