
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=New+Tegomin&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    
}
body{
    background-color: black;
}

.div-row {
    box-shadow: 1px 1px 10px rgb(102, 102, 102); 
}

.cuerpo-fondo{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../src/assets/imagen/via-lactea.jpg);
}

.h2-estilo{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;   
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
