
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    
}
body{
   /*background-color:rgb(23, 2, 37);*/
   background-color:rgba(255, 255, 255, 0.903);
}

.box{
    box-shadow:  10px 10px 5px rgba(0, 0, 0, 0.767);
    /*background-color:rgba(0, 0, 0, 0.3);*/
    background-color:rgba(23, 2, 37, 0.90);
}

.formulario{
    box-shadow:  10px 10px 5px rgba(0, 0, 0, 0.767);
    /*background-color:rgba(0, 0, 0, 0.3);*/
    background-color:rgba(23, 2, 37, 0.90);
}

